img {
   
    padding-left: 20px;
}
/* p {
    background-image: url('./Assets/Images/fruits.jpg');
} */

body {
    background-image: url('./Assets/Images/fruits.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}
h2 {
    color: white;
    font-weight: bolder;
}
p {
    color: white;
    font-weight: bolder;  
}
a {
    color: white;
    font-weight: bolder;
}
